

body{
    margin: 0;
    background-image: url(tarkov.jpg) ;
    /*background-position: ;*/
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    

}

main{

 position: relative;

}

.header {
    background-image: linear-gradient(45deg, rgb(255, 255, 255) , green);
background-clip: text;
-webkit-background-clip: text;
-moz-background-clip: text;
-webkit-text-fill-color: transparent; 
-moz-text-fill-color: transparent;
background-size: 100%;
font-size: 3vh;
    padding: 2px;
    text-align: center;
    backdrop-filter: contrast(40%);
    width: auto;
  }




div.Napis{

    width: auto;
    backdrop-filter: contrast(40%);
}


.Napisel {
    background-size: 100%;
    text-align:center ;
   font-size: 5vh;
background-image: linear-gradient(45deg, rgb(195, 233, 200) , green);
background-clip: text;
-webkit-background-clip: text;
-moz-background-clip: text;
-webkit-text-fill-color: transparent; 
-moz-text-fill-color: transparent;




}

.dcs{


    position: relative;
    left: 30%;
    top: 40%;
    max-width: 50%;
    


}

.menu{

    overflow: hidden;
    background-color: #333;
    height: 6vh;

}

.menu a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

  }

  .menu a:hover {
    background-color: #ddd;
    color: black;
  }




  .grid{

    display: grid;
    grid-template-columns: 23% 23% 23% 23% ;
    width: 100%;
    height: 100%;
    gap: 1%;
}

.box{
    height: 85%;
  width: 90%;
  background: rgba(0, 0, 0, 0.4);
  padding: 2%;
  text-align: center;
  margin: auto;
  margin: 5%;
  color: white;
  font-family: 'Century Gothic',sans-serif;
  border-radius: 20% 0 20% 0;
  box-shadow: 2px 2px 10px green;
}
.box-img{
  border-radius: 50%;
  width: 40%;
  height: 40%;
  
}

.dcp{
  font-size: 120%;
  border-radius: 20%;
  background-image: linear-gradient(32deg, rgb(187, 233, 236) , rgb(118, 180, 189));
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

.regulamin {
max-height: 80vh;
background-color: rgba(74, 75, 73, 0.459);
width: 50%;
margin-left: 25%;
margin-right: 25%;
color: white;
font-size: 3vh;
padding: 1%;
overflow: auto;

}

.regulamin a {

  color: rgb(182, 180, 180);

}

.regulamin a:visited{

  color: rgb(122, 121, 121);

}

/* intro*/
.intro{

  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  transition: 1s;
  
  }
  
  .logo-header{
  
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%) ;
  color: white;
  
  }
  
  
  .logo{
  
  position: relative;
  display: inline-block;
  bottom: -20px;
  opacity: 0;
  font-size: 150%;
  
  
  }
  
  .logo.active{
  
      bottom: 0;
      opacity: 1;
      transition: ease-in-out 0.5s;
      
  }
  
  .logo.fade{
  
      bottom: 150px;
      opacity: 0;
      transition: ease-in-out 0.5s;
  
  }
  